@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Chef If Up!</h1>

<br/>
<p>
    Here you can search for your favourit recipes and how much protien carbs and overall coloris in a spacific meal or if you want to search for a certain ingrediant you can do so too.
</p>
<img src="Images/Healthy-Foods.jpeg" alt="Food" style="max-width: 100%; height: auto;" />
