@page "/recipes"

@using ChefItUP.Services
@inject RecipeService RecipeService

<h3>Recipe Search</h3>
<p>Try:- (Linguine) or (Chicken) or (Pasta)</p>
<div>
    <input placeholder="Enter recipe name..." @bind="searchQuery" />
    <button @onclick="SearchRecipes">Search</button>
</div>

@if (recipes == null)
{
    <p>Loading...</p>
}
else if (recipes.Count == 0)
{
    <p>No recipes found.</p>
}
else
{
    <div>
        @foreach (var recipe in recipes)
        {
            <div>
                <img src="@recipe.Image" alt="@recipe.Title" />
                <h4>@recipe.Title</h4>
            </div>
        }
    </div>
}

@code {
    private List<RecipeResponse.Recipe> recipes;
    private string searchQuery;

    protected override async Task OnInitializedAsync()
    {
        recipes = await RecipeService.GetRecipesAsync(searchQuery);
    }

    private async Task SearchRecipes()
    {
        recipes = await RecipeService.GetRecipesAsync(searchQuery);
    }
}
